<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.cotudy.mapper.BoardMapper">
	<select id="selectFreeBoardList" resultType="com.project.cotudy.model.FreeBoardDto">
		<![CDATA[
			SELECT
				free_num,
				free_subject,
				free_title,
				mem_id,
				free_hit,
				DATE_FORMAT(free_created_date, '%Y.%m.%d %H:%i:%s') AS free_created_date
			FROM
				free_board
			WHERE
				free_deleted = 'N'
			ORDER BY free_num DESC
		]]>
	</select>
	
	<!-- only말머리 검색 -->
	<select id="selectFreeBoardSubSearchList" parameterType="com.project.cotudy.model.SearchDto" resultType="com.project.cotudy.model.FreeBoardDto">
		<![CDATA[
			SELECT
				free_num,
				free_subject,
				free_title,
				mem_id,
				free_hit,
				DATE_FORMAT(free_created_date, '%Y.%m.%d %H:%i:%s') AS free_created_date
			FROM
				free_board
			WHERE
				free_deleted = 'N' AND free_subject = #{freeSubject}
			ORDER BY free_num DESC
		]]>
	</select>
	
	
	<!-- only키워드 검색 -->
	 <select id="selectFreeBoardKeySearchList" parameterType="com.project.cotudy.model.SearchDto" resultType="com.project.cotudy.model.FreeBoardDto">
		<![CDATA[
			SELECT
				free_num,
				free_subject,
				free_title,
				mem_id,
				free_hit,
				DATE_FORMAT(free_created_date, '%Y.%m.%d %H:%i:%s') AS free_created_date
			FROM
				free_board
			WHERE
				
				free_deleted = 'N' 
				AND ${searchType} like CONCAT('%',#{searchKeyword},'%')
			ORDER BY free_num DESC
		]]>
	</select> 	

	
	<!-- 키워드 + 말머리 검색 -->
	<select id="selectFreeBoardSubKeySearchList" parameterType="com.project.cotudy.model.SearchDto" resultType="com.project.cotudy.model.FreeBoardDto">
		<![CDATA[
			SELECT
				free_num,
				free_subject,
				free_title,
				mem_id,
				free_hit,
				DATE_FORMAT(free_created_date, '%Y.%m.%d %H:%i:%s') AS free_created_date
			FROM
				free_board
			WHERE
				free_deleted = 'N' 
				AND ${searchType} like CONCAT('%',#{searchKeyword},'%')
				AND free_subject = #{freeSubject} 
			ORDER BY free_num DESC
		]]>
	</select>	
	
	
	<insert id="insertFreeBoard" parameterType="com.project.cotudy.model.FreeBoardDto" useGeneratedKeys="true" keyProperty="freeNum">
		<![CDATA[
			INSERT INTO free_board
			(
				free_title, 
				free_cont, 
				free_created_date, 
				mem_id,
				free_subject
			) 
			VALUES 
			(
				#{freeTitle}, 
				#{freeCont}, 
				NOW(), 
				#{memId},
				#{freeSubject}			
			)
		]]>
	</insert>
	
	<select id="selectFreeBoardCont" parameterType="int" resultType="com.project.cotudy.model.FreeBoardDto">
		<![CDATA[
			SELECT
				free_num,
				free_title,
				free_cont,
				free_hit,
				DATE_FORMAT(free_created_date, '%Y.%m.%d %H:%i:%s') AS free_created_date,
				DATE_FORMAT(free_updated_date, '%Y.%m.%d %H:%i:%s') AS free_updated_date,
				mem_id,
				free_subject
			FROM
				free_board
			WHERE
				free_num = #{freeNum}
				AND free_deleted = 'N'
		]]>
	</select>
	
	<update id="updateFreeBoardHitCount" parameterType="int">
		<![CDATA[
			UPDATE 
				free_board 
			SET 
				free_hit = free_hit + 1 
			WHERE 
				free_num = #{freeNum}
		]]>
	</update>
	
	<update id="updateFreeBoard" parameterType="com.project.cotudy.model.FreeBoardDto">
		<![CDATA[
			UPDATE free_board SET 
				free_title = #{freeTitle},
				free_cont = #{freeCont},
				free_updated_date = Now(),
				free_subject = #{freeSubject}
			WHERE 
				free_num = #{freeNum}
		]]>
	</update>
	
	<update id="deleteFreeBoard" parameterType="int">
		<![CDATA[
			UPDATE free_board SET 
				free_deleted = 'Y',
				free_updated_date = Now()
			WHERE 
				free_num = #{freeNum}
		]]>
	</update>
</mapper>