<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.cotudy.mapper.MemberMapper">
    <select id="loginCheck" parameterType="String" resultType="com.project.cotudy.model.StudyMemberDto">
        <![CDATA[
            select * from study_member where mem_id=#{memId}
        ]]>
    </select>
</mapper>